/* font */
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");
/* font-family: 'Dongle', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
/* font-family: 'Montserrat', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");
/* font-family: 'Nanum Gothic Coding', monospace; */
/* common */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", "Nanum Gothic Coding", sans-serif;
  font-size: 15px;
}
.wrap {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
}
.inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2em;
}
a {
  color: white;
}
button {
  cursor: pointer;
  font-family: "Nanum Gothic Coding";
}
/* header */
header {
  grid-column: span 12;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 2em;
  position: relative;
}
/* sub_modal */
.sub_modal {
  grid-column: span 12;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  z-index: 111111;
  width: 100%;
  height: 100vh;
  background-image: url("../image/main_back2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-color: rgba(34, 34, 34, 0.589);
  padding: 10%;
  display: none;
}
.close_box {
  grid-column: 11 / 12;
}
.sub_modal i {
  color: white;
  font-size: 30px;
  cursor: pointer;

  text-align: right;
}
.list_box {
  grid-column: span 12;
  font-size: 1.2em;
}
.list_box ul {
  grid-column: span 3;
}
.list_box h2 {
  color: gray;
  font-size: 1.5em;
  grid-column: span 2;
}

nav {
  background-color: #0095ff;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  z-index: 8888;
  font-family: "Dongle", sans-serif;
}
nav > a {
  grid-column: span 2;
  position: relative;
  text-align: center;
  width: 150px;
  height: 100px;
  margin-left: 66px;
}
nav img:hover {
  filter: invert(1);
}
nav img:hover::after {
  color: black;
}
nav img {
  width: 150px;
  height: 50%;
  padding-top: 25px;
}
nav img:hover::after {
  color: black;
}
nav > ul {
  grid-column: 3 / span 7;
  height: 100px;
  display: flex;
  position: relative;
}
nav > ul > li {
  min-width: 100px;
  text-align: center;
  line-height: 100px;
  position: relative;
  cursor: pointer;
}
nav ul li a {
  font-size: 1em;
}
nav ul li:nth-of-type(2)::after {
  content: "\f063";
  font-family: "fontawesome";
  position: absolute;
  color: white;
  top: 0;
  right: 5px;
  font-size: 5px;
}
nav > ul > li:first-child {
  width: 50px;
  height: 50px;
}
nav > ul > li:first-child:hover a {
  background-color: black;
  color: white;
}
.home {
  background-color: white;
  color: black;
  border-radius: 100%;
  padding: 0 10px;
  text-align: center;
  font-size: 30px;
}
.home i {
  vertical-align: middle;
}
nav > ul > li:hover a {
  color: yellow;
}
nav > ul > li:hover .submenu {
  display: block;
}
nav > ul > li:hover .submenu a {
  color: white;
}
nav > ul > li:hover::after {
  color: yellow;
}
.sub_open:hover .submenu li:first-child {
  border-top: 3px solid yellow;
}
.submenu {
  background-color: #0095ff;
  color: white;
  display: none;
}
.submenu li:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
.submenu a {
  font-size: 0.8em;
}
.login {
  height: 100px;
  grid-column: span 3;
  text-align: center;
  line-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login a:hover {
  color: yellow;
}
.login i {
  cursor: pointer;
  position: relative;
}
.login i:hover::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  top: -2px;
  left: -5px;
  border-radius: 20%;
  background-color: rgba(0, 0, 0, 0.2);
}
.login input {
  height: 30px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 15px;
  text-align: center;
  color: white;
  margin-left: 15px;
}
.login input::placeholder {
  color: white;
}
.login > span a {
  margin-left: 15px;
}
/* hamburger */
.hamburger {
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: relative;
  display: none;
}
.hamburger:hover::before {
  background-color: rgba(255, 255, 255, 0.5);
}
.hamburger::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -7.5px;
  width: 50px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}
.hamburger span {
  background-color: black;
  left: 0;
  width: 100%;
  height: 3px;
  position: absolute;
}
.hamburger span:nth-child(1) {
  top: 25%;
}
.hamburger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.hamburger span:nth-child(3) {
  bottom: 25%;
}
.modal2 {
  width: 50%;
  height: 100%;
  background-color: rgba(0, 170, 255);
  color: white;
  z-index: 9999;
  position: fixed;
  right: -100%;
  padding: 1em;
}
.modal2_close {
}
.modal2 i {
  cursor: pointer;
}
.modal2 ul {
}
.modal2 ul li {
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 1em;
}
.modal2 ul li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.modal2 button {
  margin-top: 1em;
  padding: 1em 0;
  width: 100%;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 15px;
  color: white;
}
.modal2 button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
/* modal */
.modal_back,
.modal_back2 {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 9998;
  display: none;
}
.modal {
  width: 100%;
  height: 80%;
  z-index: 9999;
  background-color: white;
  padding: 0 66px 1em 66px;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 15px;
}
.modal_logo {
  margin: 25px auto 66px auto;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  color: black;
}
.modal_logo img {
  width: 150px;
  height: 50px;
  cursor: pointer;
}
.modal_logo i {
  cursor: pointer;
  align-self: center;
  font-size: 2em;
}
.modal_menu {
  display: flex;
  color: black;
}
.modal_menu div {
  flex: 1 1 50%;
}
.modal_li {
  height: 100%;
}
.modal_li > ul {
  display: flex;
  justify-content: space-between;
}
.modal_ul > li {
  width: calc(90% / 6);
  font-size: 1em;
  text-align: center;
}
.modal_ul > li ul li {
  margin-bottom: 1em;
}
.modal_ul ul > li:hover {
  background-color: skyblue;
  border-radius: 0.5em;
  cursor: pointer;
}
.modal_menu a {
  color: navy;
  text-align: center;
  background-color: skyblue;
  display: block;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}
.img_box {
  height: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
  position: relative;
}
.img_box img {
  position: absolute;
  width: 70%;
  height: 500px;
  object-fit: contain;
  left: 50%;
  transform: translateX(-50%);
}
.header_back {
  grid-column: span 12;
  background-image: url("../image/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50vh;
  position: relative;
}
.header_back::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
/* section magazine*/
.sec_back {
}
section {
  width: 100%;
  /* padding: 0 30px 50px 30px; */
  margin-bottom: 50px;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%);
}
section div.inner.grid {
  grid-column: span 12;
}
.magazine {
  grid-column: span 12;
  cursor: pointer;
  position: relative;
}
.magazine:hover .fontawesome2,
.row:hover .fontawesome2 {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}
.fontawesome2 {
  width: 70px;
  height: 70px;
  border-radius: 1em;
  position: absolute;
  top: 4%;
  left: 4%;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 123;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.magazine_text,
.magazine_img,
.magazine_news {
  z-index: 11;
}
.magazine_text {
  grid-column: span 12;
  text-align: center;
  color: white;
  font-size: 2em;
}
.magazine:hover img,
.row:hover .magazine_img2 img {
  transform: scale(1.1);
}
.magazine_text span:first-child {
  color: gray;
}
.magazine_text span:last-child:hover {
  border-bottom: 1.5px solid #0095ff;
  cursor: pointer;
}
.magazine_img,
.magazine_img2 {
  grid-column: span 12;
  overflow: hidden;
  position: relative;
}
.magazine_img img,
.magazine_img2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
  position: relative;
}
.magazine_img::after,
.magazine_img2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.magazine:hover .magazine_img::after,
.row:hover .magazine_img2::after {
  background-color: rgba(0, 0, 0, 0.5);
}
.magazine:hover .magazine_news > h2,
.row:hover .magazine_news2 > h2 {
  text-decoration: underline;
}
.magazine_news {
  grid-column: span 12;
  color: black;
  cursor: pointer;
  padding: 1em;
}
.magazine_news span,
.magazine_news2 span {
  background-color: #0095ff;
  color: white;
  padding: 0.3em 0.5em;
}
.magazine_news h2 {
  font-size: 2.5em;
  font-weight: 700;
  margin-top: 1em;
}
.magazine_news2 h2 {
  font-size: 1.5em;
  margin-top: 0.5em;
  font-weight: 700;
}
.magazine_news p {
  font-size: 1.5em;
}
.magazine_news2 p {
  font-size: 1em;
  margin-top: 10px;
}
.row {
  grid-column: span 6;
  position: relative;
  cursor: pointer;
}
.magazine_news2 {
  padding: 1em 1.5em;
  position: relative;
}
.magazine_news2::before {
  content: "2022-09-16";
  position: absolute;
  color: #0095ff;
  top: 70px;
  left: -35px;
  transform: rotate(-90deg);
}
/* footer */
.footer_back {
  background: rgb(86, 204, 242);
  background: linear-gradient(
    90deg,
    rgba(86, 204, 242, 1) 7%,
    rgba(47, 128, 237, 1) 75%
  );
}
footer {
  grid-column: span 12;
  margin: 50px 0 0 0;
  padding: 0 66px 30px 66px;
  background: rgb(86, 204, 242);
  background: linear-gradient(
    90deg,
    rgba(86, 204, 242, 1) 7%,
    rgba(47, 128, 237, 1) 75%
  );
}
.footer_inner {
  max-width: 1800px;
  margin: 0 auto;
}
footer ul {
  grid-column: span 12;
  display: flex;
  border-bottom: 1px solid white;
}
footer ul li {
  width: 180px;
  height: 100px;
  text-align: center;
  position: relative;
}
footer ul li:first-child {
  width: 50px;
  height: 50px;
}
footer ul li a {
  line-height: 100px;
}
footer ul li a:hover {
  text-decoration: underline;
}
footer ul li::after {
  content: "";
  position: absolute;
  width: 1.5px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: white;
}
footer ul li:first-child::after,
footer ul li:last-child::after {
  display: none;
}
footer .home i {
  vertical-align: baseline;
}
footer ul li .home:hover {
  background-color: black;
  color: white;
}
.footer_top {
  grid-column: span 12;
  display: flex;
  justify-content: space-between;
}
.footer_top p a {
  font-size: 2em;
}
